@import 'tailwindcss';
@import '@madrasah/tokens/css';
@import '@fontsource/scheherazade-new';
 
@theme {
  --font-scheherazade: 'Scheherazade New', serif;
}
 


@font-face {
  font-family: "UthmanNaskh";
  src: url("/apps/tedris/public/fonts/uthman/uthman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
